<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../includes/navigation') %>
    <main>
      <%if(orders.length <= 0){%>
      <h1>Orders placeholder!!!</h1>
      <%}else{%>
      <ul>
        <%orders.forEach(order=>{%>
        <li>
          <h1><%=order._id %></h1>
          <ul>
            <%order.products.forEach(product=>{%>
            <li><%=product.product.title %>(<%=product.quantity %>)</li>
            <%})%>
          </ul>
        </li>
        <%})%>
      </ul>
      <%}%>
    </main>
  </body>
</html>
